.App {
  text-align: center;
}

.App-header {
  padding: 20px;
  border-radius: 8px;
}

.maps-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 20px 0;
}

.map-container {
  flex: 1;
  margin: 0 10px;
}

.map {
  height: 500px;
  width: 100%;
  background-color: #e0e0e0;
}

.controls {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
}

.chart-container {
  width: 500px;
  margin: 0 10px;
}

.controls h2 {
  margin-top: 0;
}

.controls label,
.controls select,
.controls button {
  display: block;
  margin: 5px 0;
  width: 100%;
}

.controls button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.controls button:hover {
  background-color: #0056b3;
}
